.cat-image{
  object-fit: cover;
  vertical-align: middle;
  border: none;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  margin-right: 5px;
}
input{
  border: none;
  font-size: 16px;
  width: 250px;
  vertical-align: middle;
}
.tweet-button{
  color: white;
  font-size: 16px;
  font-weight: bold;
  background-color: rgb(64, 123, 240);
  border: none;
  border-radius: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  vertical-align: middle;
}
.card{
  width: 450px;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0,0,0,0.30);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  padding-left: 12px;
 
}